<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpzEhIU20f7kZDngpjtyM0iMTipNH3kIU</string>
	<key>GCM_SENDER_ID</key>
	<string>672778535896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineCourseApp</string>
	<key>PROJECT_ID</key>
	<string>estudie-ceb95</string>
	<key>STORAGE_BUCKET</key>
	<string>estudie-ceb95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672778535896:ios:9c16d14bbaa8e2ca1ce8ad</string>
</dict>
</plist>